<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.quentinklein.stickynotifs">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <!-- Activities -->
        <activity
            android:name=".ui.activities.NotesListActivity_"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.NoteActivity_"
            android:configChanges="orientation|screenSize" />
        <!-- Services -->
        <service android:name=".boot.StartUpService_" />
        <!-- Receivers -->
        <receiver
            android:name=".boot.StartUpReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
